html {
  height: 100%;
  color: #272838;
  font-family: 'Passion One', cursive;
    background: linear-gradient(90deg, #F3DE8A 50%, #EB9486 50%);
}

header {
   white-space: nowrap;
}

h1 {
 font-size: 120px;
 text-align: center;
 margin-top: 5px;
}

.result {
  position: absolute;
  background-image: url("img/geek.png");
  background-size: contain;;
  width: 0;
  height: 0;
  background-color: #F9F8F8;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 0 #272838;
  font-size: 0;
  color: #F9F8F8;
  opacity: 0;

  display:flex;
  justify-content:center;
  align-items:center;
  text-align: center;
}

.qno {
  font-size: 35px;
  padding: 0 0 0 5%;
  margin-top: -35px;
}

.question {
  font-size: 40px;
  padding: 0 5% 3% 20%;
}

img, .image {
  display: block;
  margin: auto;

  height: 10px;
}

.selection {
  border-radius: 10px;
  width: 50%;
  text-align: center;
}

.choice {
  min-height: 75px;
  width:95%;
  height: 45%;
  background-color: #F9F8F8;
  border-radius: 8px;
  margin: 2.5% auto;
  font-size: 30px;
  box-shadow: 5px 5px 15px 0 #272838;

  display:flex;
  justify-content:center;
  align-items:center;
}

.choice:hover {
  background-color: #7E7F9A;
  transition: background-color 0.6s ease;
}

.startBtn {
  width:95%;
  height: 30%;
  background-color: #F9F8F8;
  border-radius: 8px;
  margin: 0 5% -5% 2%;
  box-shadow: 5px 5px 15px 0 #272838;
  display:flex;
  justify-content:center;
  align-items:center;
  position: absolute;
  font-size: 7em;
}

.startBtn:hover {
  background-color: #7E7F9A;
  transition: background-color 0.6s ease;
}

.p1 {
  vertical-align: text-bottom;
  float: left;
  display: inline-flex;
}

.p2 {
  vertical-align: text-bottom;
  float: right;
  display: inline-flex;
}

.score {
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  box-shadow: 2px 2px 7px 0 #272838;
  margin-left: 5px;
}
